/* 
    Created on : Feb 19, 2019, 7:15:31 PM
    Author     : M Bret Blackford
*/

* {
    margin-top: 0;
    padding-top: 0;
}
/*.nav-class {
    display: inline;
    background-color: yellow;
    color: white;
    padding: 4px;
    font-size: 1.25em;
}
a:hover {
    background-color: white;
    color: red;
}
nav a:link {
    text-decoration: none;
}

li#iamhere {
    background: red;
    color:yellow;
    border-color: blue;
}*/

.stop {
    float: left;
    display: inline-block;
    width: 30%;
    margin: 5px;
}

.address {
    list-style-type: none;
}

#map{
    height:400px;
    width:100%;
}

h1 {
    text-align: center;
    width: 100%;
    float:left;
    clear:left;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li .a-class {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.address li {
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%
}

li a:hover:not(#iamhere){
    background-color: blue;
    color:white;
}

#iamhere {
    background-color: green
}
