/* 
    Created on : Feb 19, 2019, 7:15:31 PM
    Author     : M Bret Blackford
*/

* {
    margin-top: 0;
    padding-top: 0;
}

.stop {
    float: left;
    display: inline-block;
    width: 30%;
    margin: 5px;
}

.address {
    list-style-type: none;
}

#map{
    height:400px;
    width:100%;
}

h1 {
    text-align: center;
    width: 100%;
    float:left;
    clear:left;
    color: blue;
}

h2 {
    font-size: 1.5em;
}

/*h3 {
    text-align: center;
    width: 100%;
    font-size: 1em;
    float:left;
    clear:left;
    color: blue;
}*/


ul.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li .a-class {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.address li {
    background-color: white;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 100%
}

li a:hover:not(#iamhere){
    background-color: lightskyblue;
    color:white;
}

/* ========== */
#iamhere {
    background-color: blue;
    color: yellow;
}

/* ========== */
#currency {
    float: right;
    margin-right: 4%;
    margin-top: 3em;
}

/* ========== */
table.tableizer-table {
    margin: 1em;
    font-size: 14px;
    border: 1px solid lightyellow; 
    font-family: Arial, Helvetica, sans-serif;
    float:left;
    clear: left;
} 
.tableizer-table td {
    padding: 4px;
    margin: 3px;
    border: 1px solid #CCC;
}
.tableizer-table th {
    background-color: blue; 
    color: white;
    font-weight: bold;
}

/* ========== */
ol.stops li{
    list-style-type:decimal;
    float: left;
    clear: left;
    color: red;
}

/*ul.home li {
    float: left;
    clear:left;
    margin-left: 2em;
    list-style: none;
    color:blue;
}*/

ol.stops li ul.home li {
    float: left;
    clear:left;
    margin-left: 2em;
    list-style: none;
    color:blue;
}

ul li {
    margin-left: 0;
}

/* ========== */
footer {
    float: left;
    clear: left;
    margin-left: 3px;
    margin-bottom: 2em;
}

section.maps {
    width: 90%;
    margin: .5em;
}

img {
    width:  95%;
    height: auto;
    align-content: center;
}